/* Drawing area properties. */
#title{
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.drawing-area {
    position: relative;
    user-select: none;
}

/* Box properties and their variants. */
.box {
    border: thin solid black;
    position: absolute;
}

.square {
    left:20px;
    top: 20px;
    border: white;
    position: absolute;
}

.pop {
  left: 20px;
  top: 100px;
  border: white;
  position: absolute;
}

.circle{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: white;
  border: thin solid black;
  position: absolute;
}

.bubble-highlight {
    box-shadow: 0px 0px 6px #88F;
}
